$backgroundColor: #F5F5F6;
$highlightColor: #ffd943;

$primaryColor: #263238;
$primaryLightColor: #4f5b62;
$primaryDarkColor: #000a12;

$secondaryColor: #78909c;
$secondaryLightColor: #a7c0cd;
$secondaryDarkColor: #4b636e;

$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;

$colorRed: #D00;

$colorP2P: #eca333;