@import 'imports/normalize';
@import 'imports/easings';
@import 'imports/font-awesome/fa-regular';
@import 'imports/font-awesome/fa-solid';
@import 'imports/font-awesome/fa-brands';
@import 'imports/font-awesome/fontawesome';
@import 'imports/roboto';
@import 'imports/pxplus';
@import 'imports/mq';
@import 'colors';
@import 'animations';
@import 'buttons';
@import 'dropdown';
@import 'expand';
@import 'visualcaptcha';

@mixin scrollbar($width: 10px) {
  &::-webkit-scrollbar {
    width: $width+px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

$mq-breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

@import 'modal';