@font-face {
    font-family: 'vga-eight';
    src: url('/static/fonts/pxplus_ibm_vga8.svg') format('svg'),
         url('/static/fonts/pxplus_ibm_vga8.woff2') format('woff2'), 
         url('/static/fonts/pxplus_ibm_vga8.woff') format('woff'),
         url('/static/fonts/pxplus_ibm_vga8.ttf') format('truetype');
    font-display: swap;
}